Source: syncwerk-server-libevent-dev
Section: libs
Priority: optional
Maintainer: ${MAINTAINER}
Build-Depends: debhelper (>= 9)
Standards-Version: ${DEBSTDVER}
Homepage: https://www.syncwerk.com

Package: syncwerk-server-libevent-dev
Architecture: any
Depends: \${shlibs:Depends}, \${misc:Depends}
Description: Asynchronous event notification library
 Libevent is an asynchronous event notification library that provides a
 mechanism to execute a callback function when a specific event occurs
 on a file descriptor or after a timeout has been reached.
 .
 It is meant to replace the asynchronous event loop found in
 event driven network servers. Currently, libevent supports /dev/poll,
 kqueue(2), event ports, select(2), poll(2) and epoll(4).
 .
 For backward compatibility and to transition to "libevent_core only"
 or "libevent_core + libevent_extra", the libevent source package builds
 the libevent library that includes everything in libevent_core and
 libevent_extra.
